<div class="border border-[var(--color-border)] rounded-xl overflow-hidden hover:shadow-lg transition flex flex-col">
  <div style="padding-top: 56.25%" class="relative w-full">
    <img
      [ngSrc]="project.image"
      width="1600"
      height="900"
      alt="{{ project.title}}"
      class="absolute top-0 left-0 w-full h-full object-cover"
      loading="lazy"
    />
  </div>

  <div class="p-6">
    <h3 class="text-2xl font-bold mb-2">{{ project.title }}</h3>
    <p class="text-[var(--color-accent)] mb-4">
      {{ project.description }}
    </p>

    <div class="flex flex-col md:flex-row justify-start gap-4 mt-4">
      <app-button variant="secondary" class="w-full md:w-auto">
        <a [href]="project.demo" target="_blank" class="font-semibold hover:underline">Demo</a>
        <lucide-icon name="external-link" class="w-4 h-4"></lucide-icon>
      </app-button>

      <app-button variant="secondary" class="w-full md:w-auto">
        <app-icon name="github"></app-icon>
        <a [href]="project.source" target="_blank" class="font-semibold hover:underline">View project</a>
        <lucide-icon name="external-link" class="w-4 h-4"></lucide-icon>
      </app-button>
    </div>
  </div>
</div>
