@use "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inconsolata:wght@200..900&display=swap');

@theme {
  --font-sans: "Work Sans", sans-serif;
  --font-mono: "Inconsolata", monospace;
  --font-garamond: "EB Garamond", serif;

  --color-bg-light: #ffffff;
  --color-bg-dark: #0a0a0a;

  --color-text-light: #0a0a0a;
  --color-text-dark: #f9fafb;

  --color-primary-light: #000000;
  --color-primary-dark: #ffffff;

  --color-primary-hover-light: #1f2937;
  --color-primary-hover-dark: #d1d5db;

  --color-border-light: #000000;
  --color-border-dark: #374151;

  --color-accent-light: #2563eb;
  --color-accent-dark: #60a5fa;

  --color-muted-light: #9ca3af;
  --color-muted-dark: #6b7280;
}
@layer base {
  html {
    color-scheme: light dark;
  }
  h1 {
    @apply font-garamond text-5xl font-bold;
  }

  :root {
    --color-bg: var(--color-bg-light);
    --color-text: var(--color-text-light);
    --color-text-button-primary: var(--color-text-dark);
    --color-text-button-secondary: var(--color-text-light);
    --color-primary: var(--color-primary-light);
    --color-primary-hover: var(--color-primary-hover-light);
    --color-border: var(--color-border-light);
    --color-accent: var(--color-accent-light);
    --color-muted: var(--color-muted-light);
  }

  .dark {
    --color-bg: var(--color-bg-dark);
    --color-text: var(--color-text-dark);
    --color-text-button-primary: var(--color-text-light);
    --color-text-button-secondary: var(--color-text-dark);
    --color-primary: var(--color-primary-dark);
    --color-primary-hover: var(--color-primary-hover-dark);
    --color-border: var(--color-border-dark);
    --color-accent: var(--color-accent-dark);
    --color-muted: var(--color-muted-dark);
  }

  body {
    background-color: var(--color-bg);
    color: var(--color-text);
    @apply font-mono transition-colors duration-300;
  }
}

@layer utilities {
  * {
    cursor: url('/assets/cursor.png') 16 16, auto;
  }
  a:hover, button:hover {
    cursor: url('/assets/cursor.png') 16 16, pointer;
  }

  .dark * {
    cursor: url('/assets/cursor-white.png') 16 16, auto;
  }
  .dark a:hover, .dark button:hover {
    cursor: url('/assets/cursor-white.png') 16 16, pointer;
  }
}
